<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditatii</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-gray-300">

    <div class="min-h-screen container mx-auto px-6 py-20">
        <div class="flex flex-col items-center justify-center pt-20">
            <!-- Text Content -->
            <div class="text-center max-w-3xl">
                <h6 class="text-5xl font-bold mb-6"> Not yet done :)</h6>
            </div>
        </div>
    </div>

</body>
</html>